@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Magilio Regular';
  src: url('/fonts/Magilio-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fffeee;
}
